<h1 class="page-header">Ad Types</h1>

<p>
  <%= link_to 'New Ad Type', new_admin_ad_type_path, target: '_self' %>
</p>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <td>Description</td>
    <th>Image</th>
    <th colspan="2">Industry</th>
  </tr>
  </thead>

  <tbody>
  <% @ad_types.each do |ad_type| %>
    <tr>
      <td><%= link_to ad_type.name, [:edit, :admin, ad_type], target: '_self' %></td>
      <td><%= truncate(ad_type.description, length: 80) %></td>
      <td><%= image_tag ad_type.image.url(:small_square), width: 50 %></td>
      <td><%= link_to ad_type.industry.name, [:edit, :admin, ad_type.industry], target: '_self' %></td>
      <td class="actions">
        <%= link_to [:edit, :admin, ad_type], title: 'Edit', target: '_self' do %>
          <i class="fa fa-pencil"></i>
        <% end %>

        <%= link_to [:admin, ad_type], method: :delete, title: 'Delete', data: { confirm: 'Are you sure?' }, target: '_self' do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @ad_types %>
