<h1 class="page-header">Songs</h1>

<p>
  <%= link_to 'New Song', new_admin_song_path, target: '_self' %>
</p>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th colspan="2">URL</th>
  </tr>
  </thead>

  <tbody>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.name %></td>
      <td><%= song.song_category&.name %></td>
      <td><%= song.url %></td>
      <td class="actions">
        <%= link_to [:edit, :admin, song], title: 'Edit', target: '_self' do %>
          <i class="fa fa-pencil"></i>
        <% end %>

        <%= link_to [:admin, song], method: :delete, title: 'Delete', data: { confirm: 'Are you sure?' }, target: '_self' do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @songs %>
