<div class="row theme-preview">
  <div class="col-md-8 col-md-offset-2">

    <%= link_to new_scene_collection_path, target: '_self', class: 'cancel-link pull-right' do %>
      <i class="fa fa-times"></i> CANCEL
    <% end %>

    <div class="row theme-header-row">
      <div class="col-md-7">
        <h1><%= @theme.name %></h1>
      </div>
      <div class="col-md-5">
        <div class="theme-data">
          <% if @theme.song %>
            <div class="theme-data-point"><i class="fa fa-music fa-fw" aria-hidden="true"></i> <%= @theme.song.name %></div>
          <% end %>

          <% if @theme_variant %>
            <div class="theme-data-point"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> <%= number_to_duration @theme_variant.duration %></div>
          <% end %>

          <% if @theme.video_count %>
              <div class="theme-data-point"><i class="fa fa-video-camera fa-fw" aria-hidden="true"></i> <%= @theme.video_count %></div>
          <% end %>

          <div class="theme-data-point"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i> <%= @theme.photo_count %></div>
        </div>
      </div>
    </div>

    <div class="theme-video-wrapper">
      <video-player url="<%= @theme.sample_video.url %>" poster="<%= @theme.poster_image.url(:large) %>" class="vjs-big-play-centered"></video-player>
    </div>

    <div class="row theme-info-row">

      <div class="col-md-8">
        <div class="theme-description"><%= simple_format @theme.description %></div>
      </div>

      <div class="col-md-4 build-button">
        <button class="button theme-select"
                new-scene-collection-link theme-id="<%= @theme.id %>" skip-aspect-ratio="true" targeting-spec-id="<%= params[:targeting_spec_id] %>">
          Build Video
        </button>
      </div>

    </div>
  </div>
</div>
