<h1 class="page-header">Adtypes</h1>

<p>
  <%= link_to 'New Adtype', new_admin_adsee_adtype_path %>
</p>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Industry</th>
  </tr>
  </thead>

  <tbody>
  <% @adsee_adtypes.each do |adsee_adtype| %>
    <tr>
      <td><%= link_to adsee_adtype.name, [:edit, :admin, adsee_adtype] %></td>
      <td><%= adsee_adtype.image_url %>
      <td><%= adsee_adtype.industry.name %>
      <td class="actions">
        <%= link_to [:edit, :admin, adsee_adtype], title: 'Edit' do %>
          <i class="fa fa-pencil"></i>
        <% end %>

        <%= link_to [:admin, adsee_adtype], method: :delete, title: 'Delete', data: { confirm: 'Are you sure?'} do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @adsee_adtypes %>
