<%= simple_form_for [:admin, @theme_variant] do |f| %>
  <%= f.association :theme %>
  <%= f.association :video_type %>
  <%= f.input :duration %>

  <h4>Scenes</h4>

  <ul id="scenes" class="sortable-scene-list list-unstyled">
    <%= f.simple_fields_for :theme_variant_scenes do |theme_variant_scene_fields| %>
      <%= render 'theme_variant_scene_fields', f: theme_variant_scene_fields %>
    <% end %>
  </ul>

  <div class="form-group">
    <%= link_to_add_association 'Add scene', f, :theme_variant_scenes, class: 'btn btn-info', data: { 'association-insertion-node' => '#scenes', 'association-insertion-method' => 'append' } %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', admin_themes_path, class: 'btn btn-default' %>
<% end %>
