<h1>Video Ad</h1>

<div class="row">
  <div class="col-md-6">
    <%= @scene_collection.ad_type.industry.name %> | <%= @scene_collection.ad_type.name %>

    <% if @scene_collection.theme %>
      | <%= @scene_collection.theme.name %>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">Color</div>
      <div class="col-md-4">Font</div>
      <div class="col-md-4">Song</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    PREVIEW IMAGE
  </div>

  <div class="col-md-5">
    FIELDS AND MEDIA LIBRARY
  </div>
</div>

<div class="row">
  <div class="col-md-11">
    SCENE LIST
  </div>

  <div class="col-md-1">
    Preview
  </div>
</div>

<script>
  angular.module('adsee.themeSettings').value('fonts', <%= raw @fonts.to_json %>);
  angular.module('adsee.themeSettings').value('songs', <%= raw @songs.to_json %>);
</script>

<div ng-view></div>
