<h1>New Video</h1>

<% @industries.each do |industry| %>
    <h2><%= industry.name %></h2>

    <% industry.ad_types.in_groups_of(3, false).each do |ad_type_group| %>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <% ad_type_group.each do |ad_type| %>
                  <div class="col-sm-4">
                    <h3><%= ad_type.name %></h3>
                  </div>
              <% end %>
            </div>
          </div>

          <% ad_type_group.each do |ad_type| %>
              <div class="col-sm-4">
                <% ad_type.themes.in_groups_of(2, false).each do |theme_group| %>
                    <div class="row">
                      <% theme_group.each do |theme| %>
                          <div class="col-sm-6">
                            <p>
                              <%= link_to theme, target: '_self' do %>
                                  <%= image_tag theme.thumbnail.url(:large_square), class: 'img-responsive center-block' %>
                              <% end %>
                            </p>

                            <div class="text-center">
                              <%= link_to theme.name, theme, target: '_self' %>
                            </div>
                          </div>
                      <% end %>
                    </div>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>

<div class="text-center">
  <%= form_for SceneCollection.new do |f| %>
      <%= f.submit 'Build my own', class: 'btn btn-primary' %>
  <% end %>
</div>
