<h1 class="page-header">Edit <%= @scene.name %></h1>

<%= simple_form_for [:admin, @scene] do |f| %>
  <%= f.input :name %>
  <%= f.association :scene_category %>
  <%= f.input :tags, collection: @scene.tag_list, label: 'Tags', input_html: { multiple: 'multiple', style: 'width: 100%' } %>
  <%= render 'admin/shared/image_form_field', f: f, name: :thumbnail, version: :large %>
  <%= render 'admin/shared/file_form_field', f: f, name: :preview_video, label_name: 'Preview video' %>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', admin_scenes_path, class: 'btn btn-default' %>
<% end %>
