<div id="fullpage-advertising">
  <div class="section" id="section1">
    <%= render 'layouts/marketing_nav' %>

    <div class="background-overlay"></div>
    <div class="row ">
      <div class="col-md-12">
        <div class="text-overlay">
          <h1>user profile analysis</h1>
          <div class="section-subtext">Use your CRM data to have extensive user profiles reports. After analyzing your customer data, Vixer divides them into custom target audiences and creates personalized ads for each of them to maximize video performance</div>
          <%= link_to 'Learn More', page_path('advert_custom_audience'), target: '_self', :class=> 'button-ghost' %>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="background-overlay"></div>
    <div class="col-md-12 section-text">
      <h1>acquire<br>better<br>leads</h1>
      <div class="section-subtext">
        <div class="subtext-format">
          Create new target audiences that resemble your current customer base with lookalike custom segmentation and create customized ads for better results.
        </div>
      </div>
      <br>
      <br>
      <br>
      <%= link_to 'Learn More', page_path('advert_lookalike'), target: '_self', :class=> 'button-ghost' %>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="background-overlay"></div>
    <div class="row ">
      <div class="col-md-12">
        <div class="section-text">
          <h1>custom video designs</h1>
          <div class="section-subtext">Use brand specific custom video designs for your social video content marketing and advertising. Each custom design will be created to maximize engagement for your major target segments.</div>
          <%= link_to 'Learn More', page_path('advert_customtarget'), target: '_self', :class=> 'button-ghost' %>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section4">
    <div class="background-overlay"></div>
    <div class="row ">
      <div class="col-md-12">
        <div class="text-overlay">
          <h1>user profile analysis</h1>
          <div class="section-subtext">Use your CRM data to have extensive user profiles reports. After analyzing your customer data, Vixer divides them into custom target audiences and creates personalized ads for each of them to maximize video performance</div>
          <%= link_to 'Learn More', page_path('advert_custom_audience'), target: '_self', :class=> 'button-ghost' %>
        </div>
      </div>
    </div>
  </div>
</div>
