<div id="fullpage-marketing">
  <div class="section" id="section1">
    <div class="home-nav">
      <ul class="home-nav-list">
        <li class="social-video-for">Social Video for:</li>
        <li><%= link_to 'Content Marketing', content_marketing_path %></li>
        <li><%= link_to 'Advertising', advertising_path  %></li>
        <li><%= link_to 'Login', new_user_session_path, target: '_self', :class=> 'login-nav-button' %></li>
        <li><%= link_to 'Sign up', new_user_registration_path, target: '_self', :class=> 'login-nav-button' %></li>
      </ul>
      <a href=""><%= image_tag "vixer-logo.svg", :class=> "vixer-nav-logo" %></a>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <div class="car">
          <%= image_tag "car.png" %>
        </div>
        <%= image_tag "coffee.png", :class=> "coffee" %>
        <div class="vacation">
          <%= image_tag "sunglasses.png", :class=> "sunglasses" %>
          <%= image_tag "Sand.png", :class=> "" %>
        </div>
        <div class="text-overlay">
          <h1>pick an industry</h1>
          <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          <%= link_to 'Learn More', learn_industry_path, target: '_self', :class=> 'button-ghost' %>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="col-md-7">
      <%= image_tag "her.png", :class=> "her-img" %>
    </div>
    <div class="col-md-5 section-text">
      <h1>pick<br>
        your<br>target</h1>
      <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <%= link_to 'Learn More', learn_target_path, target: '_self', :class=> 'button-ghost' %>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="background-overlay"></div>
    <div class="row ">
      <div class="col-md-12">
        <div class="section-text">
          <h1>select your theme</h1>
          <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          <%= link_to 'Learn More', learn_theme_path, target: '_self', :class=> 'button-ghost' %>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section4">
    <div class="col-md-6">
      <div class="text-overlay">
        <h1>edit<br>your<br>video</h1>
        <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <%= link_to 'Learn More', learn_edit_path, target: '_self', :class=> 'button-ghost' %>
      </div>
    </div>
    <div class="section-subtext"></div>
    <div class="col-md-6">
      <%= image_tag "imac.png", :class=> "imac" %>
    </div>
  </div>
  <div class="section" id="section5">
    <div class="background-overlay"></div>
    <div class="col-md-12">
      <div class="text-overlay">
        <h1>get social</h1>
        <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <%= link_to 'Learn More', learn_social_path, target: '_self', :class=> 'button-ghost' %>
      </div>
    </div>
  </div>
</div>