<div id="fullpage">

  <div class="section" id="section1">
    <%= render 'layouts/marketing_nav' %>

    <div class="background-overlay"></div>
    <video playsinline autoplay muted loop id="bgvid">
        <source src="https://d15t32v9fjxgrp.cloudfront.net/videos/adsee.webm" type="video/webm">
        <source src="https://d15t32v9fjxgrp.cloudfront.net/videos/adsee.mp4" type="video/mp4">
    </video>

    <div class="main-text">
      Using <span class="highlight-text">Data Intelligence</span> To Produce
      <div class='content'>
        <p class="">Better Social <span class="highlight-text">Videos</span> That</p>
        <div class='visible'>
          <ul>
            <li>Inform.</li>
            <li>Promote.</li>
            <li>Sell.</li>
            <li>Engage.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="section" id="section2">
    <div class="background-overlay"></div>
    <div class="text-overlay ">
      <div class="for">Vixer for</div>
      <h1>content<br>creators</h1>
      <div class="section-subtitle">Make videos people want to share.</div>
      <div class="section-subtext">Use data intelligence about your target audience and the efficiency of short-form videos to easily create videos that are made to be shared and liked. Create the perfect videos that are personalized, targeted to each of your audiences, and customized to each social platform. </div>

      <div class="icon-box">
        <div class="icon-tile">
          <%= image_tag "icons/sketch-icon.png", :class=> "icon" %>
          <div class="feature-title">Video designs selection</div>
        </div>
        <div class="icon-tile">
          <%= image_tag "icons/build-icon.png", :class=> "icon" %>
          <div class="feature-title">Deep customization </div>
        </div>
        <div class="icon-tile">
          <%= image_tag "icons/theme-icon.png", :class=> "icon" %>
          <div class="feature-title">Topic based designs</div>
        </div>
        <div class="icon-tile">
          <%= image_tag "icons/music-icon.png", :class=> "icon" %>
          <div class="feature-title">Add Voice Over</div>
        </div>
      </div>
      <%= link_to 'Learn more', page_path('content_creators'), target: '_self', :class=> "button-ghost" %>
    </div>
  </div>

  <div class="section" id="section3">

    <div class="background-overlay"></div>

    <div class="text-overlay">
      <div class="for">Vixer for</div>
      <h1>small<br>business</h1>
      <div class="section-subtitle">Easily promote a new product, event, or story with the power of video.</div>
      <div class="section-subtext">Leverage your CRM data as well as the power of social media to showcase your products and services. Advertise to your current customers on social platforms for upsell opportunities or gain new customers by creating new lookalike target audiences using your client list. Explore your audience's demographic, geographic and psychographic data with highly detailed audience profiles reports generated from your CRM data</div>
      <div class="icon-box">
        <div class="icon-tile">
          <%= image_tag "icons/sketch-icon.png", :class=> "icon" %>
          <div class="feature-title">Video designs for each goal</div>
        </div>
        <div class="icon-tile">
          <%= image_tag "icons/custom-target-icon.png", :class=> "icon" %>
          <div class="feature-title">Custom Targeting </div>
        </div>
        <div class="icon-tile">
          <%= image_tag "icons/lookalike-icon.png", :class=> "icon" %>
          <div class="feature-title">Look-a-like targeting</div>
        </div>
        <div class="icon-tile">
          <%= image_tag "icons/custom-audience-icon.png", :class=> "icon" %>
          <div class="feature-title">Detailed User Profile Reporting</div>
        </div>
      </div>
<!--       <ul>
        <li>Great themes built to be shared</li>
        <li>Ads personalized and targeted to your Facebook followers</li>
        <li>Create lookalike target segments using your CRM data and create personalized videos targeting them</li>
        <li>Generate a user profiles report to learn more about who your customers are and how to communicate to them</li>
      </ul> -->
      <%= link_to 'Learn more', page_path('small_business'), target: '_self', :class=> "button-ghost" %>
    </div>

  </div>

  <div class="section" id="section4">

    <div class="background-overlay"></div>

    <div class="text-overlay">
      <div class="for">Vixer for</div>
      <h1>enterprise</h1>
        <div class="section-subtitle">Leverage the power of data intelligence to create better performing videos.</div>
        <div class="section-subtext">Your videos will learn and get better from the analysis of your current audience. Highly detailed user profiles are created from your CRM data to fully understand who your target audiences are. Vixer will use this data analysis to identify who buys your products and services, why they buy and then use that information to create personalized video content and video ads to maximize engagement and ROI</div>
        <div class="icon-box">
          <div class="icon-tile">
            <%= image_tag "icons/sketch-icon.png", :class=> "icon" %>
            <div class="feature-title">Custom video designs</div>
          </div>
          <div class="icon-tile">
            <%= image_tag "icons/custom-target-icon.png", :class=> "icon" %>
            <div class="feature-title">Intelligent target segmentation</div>
          </div>
          <div class="icon-tile">
            <%= image_tag "icons/lookalike-icon.png", :class=> "icon" %>
            <div class="feature-title">Data driven Look-a-like targeting</div>
          </div>
          <div class="icon-tile">
            <%= image_tag "icons/segment-icon.png", :class=> "icon" %>
            <div class="feature-title">Demographic and Psychographic user analysis</div>
          </div>
          <div class="icon-tile">
            <%= image_tag "icons/custom-audience-icon.png", :class=> "icon" %>
            <div class="feature-title">Video personalization and localization at scale</div>
          </div>
        </div>
        <%= link_to 'Learn more', page_path('enterprise'), target: '_self', :class=> "button-ghost" %>
    </div>

  </div>

  <div class="section" id="section5">

    <div class="col-md-4 real-estate">
      <div class="background-overlay"></div>
      <div class="industry-panel">
        <div class="for">for</div>
        <h1>real estate</h1>
        <div class="section-subtext">Video is the best tool to advertise your house, promote your open house of improve your brand recognition on social media. You can now advertise your house to the right people at the right time and the right place</div>
        <%= link_to 'Learn more', 'http://vixer.launchrock.com/', target: '_self', :class=> "button-ghost" %>
      </div>
    </div>
    <div class="col-md-4 gaming">
      <div class="background-overlay"></div>
      <div class="industry-panel">
        <div class="for">for</div>
        <h1>gaming</h1>
        <div class="section-subtext">Every gamer is different so every piece of content and ad cretaed targeting gamers should be different to match their likes and expectations. Vixer makes it possible</div>
        <%= link_to 'Learn more', 'http://vixer.launchrock.com/', target: '_self', :class=> "button-ghost" %>
      </div>
    </div>
    <div class="col-md-4 travel">
      <div class="background-overlay"></div>
      <div class="industry-panel">
        <div class="for">for</div>
        <h1>travel</h1>
        <div class="section-subtext">Learn from your current and past clients to create the most engaging and relevant content and ad for them. Leverage the knowledge gained from those past clients to acquire new, similar clients from social media</div>
        <%= link_to 'Learn more', 'http://vixer.launchrock.com/', target: '_self', :class=> "button-ghost" %>
      </div>
    </div>

  </div>

<!--   <div class="section" id="section6">

    <h1>Vixer Features</h1>

    <div class="row">
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/theme-icon.png", :class=> "icon" %>
        <div class="feature-title">Pre-built Themes</div>
      </div>
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/build-icon.png", :class=> "icon" %>
        <div class="feature-title">Build your own theme</div>
      </div>
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/robot-icon.png", :class=> "icon" %>
        <div class="feature-title">Smart Vix</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/enterprise-icon.png", :class=> "icon" %>
        <div class="feature-title">Enterprise ad campaigns</div>
      </div>
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/custom-target-icon.png", :class=> "icon" %>
        <div class="feature-title">Custom audience targeting</div>
      </div>
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/lookalike-icon.png", :class=> "icon" %>
        <div class="feature-title">Lookalike audience targeting</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/custom-icon.png", :class=> "icon" %>
        <div class="feature-title">Custom targeting</div>
      </div>
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/prebuilt-icon.png", :class=> "icon" %>
        <div class="feature-title">Pre-built target segments</div>
      </div>
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/robot-icon.png", :class=> "icon" %>
        <div class="feature-title">Ad campaign settings</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/industry-icon.png", :class=> "icon" %>
        <div class="feature-title">Industry focused</div>
      </div>
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/custom-audience-icon.png", :class=> "icon" %>
        <div class="feature-title">Custom audience reporting</div>
      </div>
      <div class="col-md-4 icon-tile">
        <%#= image_tag "icons/enterprise-icon.png", :class=> "icon" %>
        <div class="feature-title">Enterprise ad campaigns</div>
      </div>
    </div>
  </div> -->

</div>
