<div class="row login-page">
<div class="col-md-2 col-md-offset-3">

<h2>LOG IN</h2>
<%= render "devise/shared/links" %>

</div>

<div class="col-md-4 right-column">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
    </span>
    <div class="field">
      <%= f.email_field :email, autofocus: true, :required => true  %>
      <label class="control-label" for="email" placeholder="email">
      </label>
    </div>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-unlock-alt fa-stack-1x fa-inverse"></i>
    </span>
    <div class="field">
      <%= f.password_field :password, :required => true %>
      <label class="control-label" for="password" placeholder="password">
      </label>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="field remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "button" %>
    </div>

    <div>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), target: '_self', class: "button fb-button" %>
    </div>

<% end %>

</div>
</div>