<h1 class="page-header">Themes</h1>

<p>
  <%= link_to 'New Theme', new_admin_theme_path, target: '_self' %>
</p>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Ad Type</th>
    <th>Variants</th>
    <th>Featured</th>
    <th colspan="2">Scenes</th>
  </tr>
  </thead>

  <tbody>
  <% @themes.each do |theme| %>
    <tr>
      <td><%= link_to theme.name, [:edit, :admin, theme], target: '_self' %></td>
      <td><%= truncate(theme.description) %></td>
      <td><%= link_to theme.ad_type.name, [:edit, :admin, theme.ad_type], target: '_self' %></td>
      <td>
        <% theme.theme_variants.each_with_index do |theme_variant, i| %>
          <%= link_to theme_variant.name || "TV ##{theme_variant.id}", [:edit, :admin, theme_variant], target: '_self' %><%= ', ' if i < theme.theme_variants.size - 1 %>
        <% end %>
      </td>

      <td>
        <% if theme.featured %>
          <i class="fa fa-check"></i>
        <% end %>
      </td>

      <td class="actions">
        <%= link_to [:edit, :admin, theme], title: 'Edit', target: '_self' do %>
          <i class="fa fa-pencil"></i>
        <% end %>

        <%= link_to [:admin, theme], method: :delete, title: 'Delete', data: { confirm: 'Are you sure?'}, target: '_self' do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @themes %>
