<div class="home-nav">
  <ul class="home-nav-list">
    <li><%= link_to 'Content Creators', page_path('content_creators'), target: '_self' %></li>
    <li><%= link_to 'Small Business', page_path('small_business'), target: '_self' %></li>
    <li><%= link_to 'Enterprise', page_path('enterprise'), target: '_self' %></li>
    <li><%= link_to 'Contact', contact_path, target: '_self' %></li>
  </ul>

  <%= link_to root_path, target: '_self' do %>
      <%= image_tag "vixer-logo.svg", class: "vixer-nav-logo" %>
  <% end %>
</div>
