<nav class="main-nav">
  <%= link_to root_path, target: '_self', class: "logo" do%>
    <%= image_tag('https://s3.amazonaws.com/vejeo/vidgenie/images/adsee/vixer-logo.svg', :class => "svg-logo") %>
  <% end %>
  <ul>
    <% if user_signed_in? %>
        <li><%= link_to 'My Videos', scene_collections_path, target: '_self' %></li>
        <li><%= link_to 'Create', theme_selector_path, target: '_self' %></li>
        <li><%= link_to 'Reports', reports_path, target: '_self' %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, target: '_self' %></li>
    <% else %>
        <li><%= link_to 'Login', new_user_session_path, target: '_self' %></li>
        <li><%= link_to 'Sign up', new_user_registration_path, target: '_self' %></li>
    <% end %>
  </ul>
</nav>
