<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Adsee</title>
  <%= webpack_bundle_for('vendor', :css) %>
  <%= webpack_bundle_for('app', :css) %>
  <%= webpack_bundle_for('vendor', :js) %>
  <%= webpack_bundle_for('app', :js) %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/angular_config' %>
</head>
<body ng-app="adsee">
<div class="admin-body">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'AdSee Admin', admin_root_path, class: 'navbar-brand', target: '_self' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Main Site', root_path, target: '_self' %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, target: '_self' %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><%= link_to 'Home', admin_root_path, target: '_self' %></li>
          <li><%= link_to 'Ad Types', admin_ad_types_path, target: '_self' %></li>
          <li><%= link_to 'FB Targeting Specs', admin_facebook_targeting_specs_path, target: '_self' %></li>
          <li><%= link_to 'Filters', admin_filters_path, target: '_self' %></li>
          <li><%= link_to 'Images', admin_images_path, target: '_self' %></li>
          <li><%= link_to 'Industries', admin_industries_path, target: '_self' %></li>
          <li><%= link_to 'Scene Categories', admin_scene_categories_path, target: '_self' %></li>
          <li><%= link_to 'Scenes', admin_scenes_path, target: '_self' %></li>
          <li><%= link_to 'Song Categories', admin_song_categories_path, target: '_self' %></li>
          <li><%= link_to 'Songs', admin_songs_path, target: '_self' %></li>
          <li><%= link_to 'Fonts', admin_fonts_path, target: '_self' %></li>
          <li><%= link_to 'Themes', admin_themes_path, target: '_self' %></li>
          <li><%= link_to 'Theme Variants', admin_theme_variants_path, target: '_self' %></li>
          <li><%= link_to 'Transitions', admin_transitions_path, target: '_self' %></li>
          <li><%= link_to 'Video Clips', admin_video_clips_path, target: '_self' %></li>
          <li><%= link_to 'Video Types', admin_video_types_path, target: '_self' %></li>
        </ul>
      </div>
      <div class="col-sm-9 col-md-10 main">
        <%= render 'shared/flash_messages' %>
        <%= yield %>

      </div>
    </div>
    <%= insert_paloma_hook %>
  </div>
</div>
</body>
</html>
