<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Adsee</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= webpack_bundle_for('vendor', :css) %>
  <%= webpack_bundle_for('app', :css) %>
  <%= webpack_bundle_for('vendor', :js) %>
  <%= webpack_bundle_for('app', :js) %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://use.typekit.net/rth8pka.js"></script>
  <script type="text/javascript">try{Typekit.load({ async: true });}catch(e){}</script>
  <%= render 'layouts/angular_config' %>
</head>
<%= render "layouts/nav" %>
<body ng-app="adsee">
<div class="container-fluid main-content">
  <%= yield %>
  <div ui-view></div>
</div>
</body>
</html>
